* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #F6F8FC;
    overflow-x: hidden;
}

.particles {
    width: 100%;
    height: 100%;
    z-index: -10;
}

.affiliations {
    position: relative;
    display: flex;
    width: 1280px;
    margin: 200pxw auto;
    justify-content: space-around;
    font-family: 'Roboto', sans-serif;
}

.list {
    position: relative;
}

.list .illustration {
    position: absolute;
    margin: 15% auto;
}

.list ul {
    margin-top: 110px;
}

.affiliations .list h3 {
    font-size: 64px;
    font-weight: bold;
    text-transform: uppercase;
    opacity: 0.1;
    text-align: center;
}

.affiliations .list ul {
    width: 350px;
}

.affiliations .list ul li {
    margin: 30px auto;
}

.affiliations .list h4 {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    color: #757575;
    font-weight: bold;
}


.affiliations #experience h4.place {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    color: #63D2A6;
}

.affiliations #education h4.place {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    color: #FF7A00;
}

.affiliations #groups h4.place {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    color: #9069DA;
}

.affiliations .list p {
    text-align: center;
    margin-top: 5px;
    color: #7B7B7B;
}

.affiliations .list hr {
    background-color: #DFE0E7;
    height: 3px;
    width: 80%;
    margin: 10px auto;
    /* border: 0;
    box-shadow: 0 10px 10px -10px #8c8b8b inset; */
}

.affiliations #experience .illustration {
    position: absolute;
    height: 160px;
    top: -60px;
    left: 70px;
}

.affiliations #education .illustration {
    width: 230px;
    top: -60px;
    left: 40px;
}   

.affiliations #groups .illustration {
    width: 160px;
    top: -40px;
    left: 95px;
}

.affiliations #experience ul {
    list-style-type: square;
    list-style-image: url('../assets/about/experience-list.svg');
}

.affiliations #education ul {
    list-style-type: square;
    list-style-image: url('../assets/about/education-list.svg');
}

.affiliations #groups ul {
    list-style-type: square;
    list-style-image: url('../assets/about/groups-list.svg');
}

.affiliations #experience h3 {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,255,162,1) 50%, rgba(0,0,0,1) 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.affiliations #education h3 {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(255,153,0,1) 50%, rgba(0,0,0,1) 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.affiliations #groups h3 {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(247,31,104,1) 50%, rgba(0,0,0,1) 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}


.floating{
	animation-name: laptop-floating;
	-webkit-animation-name: laptop-floating;

	animation-duration: 5.5s;	
	-webkit-animation-duration: 5.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes laptop-floating {
	0% {
		transform: translateY(0%);	
	}
	50% {
		transform: translateY(20%);	
	}	
	100% {
		transform: translateY(0%);
	}			
}

.edu-floating{
	animation-name: edu-floating;
	-webkit-animation-name: edu-floating;

	animation-duration: 5.5s;	
	-webkit-animation-duration: 5.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes edu-floating {
	0% {
		transform: translateY(0%);	
	}
	50% {
		transform: translateY(20%);	
	}	
	100% {
		transform: translateY(0%);
	}			
}

@-webkit-keyframes laptop-floating {
	0% {
		-webkit-transform: translateY(0%);	
	}
	50% {
		-webkit-transform: translateY(20%);	
	}	
	100% {
		-webkit-transform: translateY(0%);
	}			
}

@media (max-width: 1215px) {
    .affiliations {
        flex-direction: column;
        width: 100vw;
        justify-content: center;
        align-items: center;
    }
}