footer {
    position: absolute; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    background-image:linear-gradient(0deg, #45148B, #BB4BDE);
    height: 400px;
    position: relative;
    margin-top: 300px;
    align-items: center;
    padding-top: 100px;
}

footer p {
    font-size: 32px;
    color: #f8e4ff;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.footer-bottom {
    flex-direction: column;
    height: 70%;
}
.footer-bottom p{
    font-size: 24px;
    font-weight: unset;
}
footer .social-media {
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
    margin: 75px auto;
    font-size: 0px;
}

footer .social-media > a > div  {
    opacity: 1;
}

footer .social-media > a > div:hover {
    box-shadow: 0px 0px 32px 4px rgba(230,177,240,0.49);    
}

@media (max-width: 767px) {
    .footer-bottom {
        width: 100%;
        align-items: center;
    }
    footer p {
        font-size: 20px;
    }
    .footer-bottom p{
        font-size: 16px;
        text-align: center;
    }
    footer .social-media {
        width: 80%;
        margin: 60px auto;
        left: 0;
    }
}