* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    min-height: 100vh;
}

.container {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.container h2 {
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 8rem;
    font-family: 'Roboto', sans-serif;
}

.container h2:nth-child(1){
    color: transparent;
    -webkit-text-stroke: 4px #4C3A7C;
}


.container h2:nth-child(2){
    color: #4C3A7C;
    animation: water 4s ease-in-out infinite;
}

@keyframes water {
    0%, 100% {
        clip-path: polygon(0 35%, 13% 40%, 28% 45%, 42% 53%, 56% 63%, 75% 65%, 100% 55%, 100% 99%, 0% 99%);
    }
    50% {
        clip-path: polygon(0 66%, 23% 64%, 50% 65%, 61% 60%, 75% 51%, 84% 40%, 99% 28%, 100% 99%, 0% 99%);
    }
}