body {
    background-color: white;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.projects {
    position: relative;
    background-color: #0E0526;
    width: 100%;
    height: 100%;
    color: #cbced4;
    margin: 0 auto;    
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

.projects .wave-transition {
    width: 100%;
    height: 300px;
    top: -300px;
    background-color: #F5F7FC;
    clip-path: polygon(100% 0%, 0% 0% , 0% 65%, 1% 64.95%, 2% 64.8%, 3% 64.6%, 4% 64.3%, 5% 63.9%, 6% 63.45%, 7% 62.9%, 8% 62.25%, 9% 61.55%, 10% 60.8%, 11% 59.95%, 12% 59.05%, 13% 58.1%, 14% 57.1%, 15% 56.05%, 16% 55%, 17% 53.9%, 18% 52.8%, 19% 51.65%, 20% 50.5%, 21% 49.35%, 22% 48.2%, 23% 47.05%, 24% 45.9%, 25% 44.8%, 26% 43.75%, 27% 42.75%, 28% 41.75%, 29% 40.8%, 30% 39.9%, 31% 39.1%, 32% 38.35%, 33% 37.65%, 34% 37.05%, 35% 36.5%, 36% 36.05%, 37% 35.65%, 38% 35.35%, 39% 35.15%, 40% 35.05%, 41% 35%, 42% 35.05%, 43% 35.2%, 44% 35.45%, 45% 35.75%, 46% 36.15%, 47% 36.65%, 48% 37.2%, 49% 37.85%, 50% 38.55%, 51% 39.35%, 52% 40.2%, 53% 41.1%, 54% 42.05%, 55% 43.05%, 56% 44.1%, 57% 45.15%, 58% 46.3%, 59% 47.4%, 60% 48.55%, 61% 49.7%, 62% 50.85%, 63% 52%, 64% 53.15%, 65% 54.25%, 66% 55.35%, 67% 56.4%, 68% 57.45%, 69% 58.4%, 70% 59.35%, 71% 60.2%, 72% 61.05%, 73% 61.8%, 74% 62.45%, 75% 63.05%, 76% 63.6%, 77% 64.05%, 78% 64.4%, 79% 64.7%, 80% 64.85%, 81% 65%, 82% 65%, 83% 64.9%, 84% 64.75%, 85% 64.5%, 86% 64.2%, 87% 63.75%, 88% 63.25%, 89% 62.7%, 90% 62.05%, 91% 61.3%, 92% 60.5%, 93% 59.65%, 94% 58.75%, 95% 57.8%, 96% 56.8%, 97% 55.75%, 98% 54.65%, 99% 53.55%, 100% 52.4%);
}

.projects h2 {
    width: 100%;
    text-align: center; 
    text-transform: uppercase;
    padding: 0;
    margin: 100px auto;
    font-size: 64px;
    color: #4C3A7C;
}

.bg-ball {
    overflow: hidden;
    position: absolute;
    border-radius: 50%;
    background: #4BA5BE;
    background: -webkit-radial-gradient(top left, #4BA5BE 30%, #6B19AF, #9834BC);
    background: -moz-radial-gradient(top left, #4BA5BE 30%, #6B19AF, #9834BC);
    background: radial-gradient(to bottom right, #4BA5BE 30%, #6B19AF, #9834BC);
    filter: blur(50px);
}


.ball {
    position: absolute;
    border-radius: 50%;
    background: #4BA5BE;
    background: -webkit-radial-gradient(top left, #4BA5BE 30%, #6B19AF, #9834BC);
    background: -moz-radial-gradient(top left, #4BA5BE 30%, #6B19AF, #9834BC);
    background: radial-gradient(to bottom right, #4BA5BE 30%, #6B19AF, #9834BC);
}

#big-ball-1 {
    overflow: hidden;
    width: 500px;
    height: 500px;
    right: -150px;
    top: -250px;
}

#big-ball-2 {
    width: 500px;
    height: 500px;
    left: 0;
    top: 400px;
}

#big-ball-3 {
    width: 500px;
    height: 500px;
    right: -300px;
    top: 1200px;
}

#mid-ball-1 {
    width: 200px;
    height: 200px;
    left: -250px;
    top: 0; 
}


#mid-ball-2 {
    width: 120px;
    height: 120px;
    left: -250px;
    top: 1000px; 
}

#small-ball-1 {
    width: 40px;
    height: 40px;
    left: 150px;
    top: 250px; 
}

#small-ball-2 {
    width: 100px;
    height: 100px;
    right: 20px;
    top: 500px; 
}

#small-ball-3 {
    width: 30px;
    height: 30px;
    left: -250px;
    top: 1200px; 
}

.top-picks {
    display: flex;
    width: 1280px;
    position: relative;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

article.project {
    display: flex;
    position: relative;
    width: 700px;
    height: 400px;  
    margin: 50px auto;
    /* background-color: rgb(255, 255, 255); */
    border-radius: 15%;
    transform-style: preserve-3d;   
    overflow: hidden;

    /* glassmorphism */
    background: linear-gradient(to top left, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
    backdrop-filter: blur(5.5px );
    -webkit-backdrop-filter: blur( 5.5px );
    border-radius: 20px;
    border: 3px solid rgba( 255, 255, 255, 0.18 );

    /* box-shadow: 25px 25px 30px 31px rgba(223,144,253,0.15); */
}

article.project img {
    width: 400px;
    height: 400px;
    transform: translateZ(50px);
}

article.project .button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    width: 47%;
    height: 50px;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 12.0px );
    -webkit-backdrop-filter: blur( 12.0px );
    border-radius: 20px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    text-decoration: none;
}

article.project .button.code-butt {
    background: rgb(255,86,221);
    background: linear-gradient(45deg, rgba(255,86,221,1) 0%, rgba(67,85,255,1) 100%);
}

article.project .button.code-butt:hover {
    -webkit-box-shadow: 0px 5px 30px -1px rgba(244,86,222,0.58); 
    box-shadow: 0px 5px 30px -1px rgba(244,86,222,0.58);
    cursor: pointer;
}

article.project .button.test-butt {
    background: rgb(243,159,99);
    background: linear-gradient(45deg, rgba(243,159,99,1) 0%, rgba(255,91,216,1) 100%);
}

article.project .button.test-butt:hover {
    -webkit-box-shadow: 0px 5px 30px -1px rgba(231,141,94,0.58); 
    box-shadow: 0px 5px 30px -1px rgba(231,141,94,0.58);
    cursor: pointer;
}

article.project .button .github-icon, article.project .button .test-icon{
    width: 30px;
    height: 30px;
    margin-top: 5px;
}

article.information {
    position: relative;
    text-align: left;
    width: 400px;

    /* glassmorphism */
    background: linear-gradient(to left, #9834bc2f, #4ba5be6b);
    padding: 10px 20px; 
    /* border-radius: 10px; */
    /* border: 1px solid rgba( 255, 255, 255, 0.18 );*/
}

article.information:hover {
    background: linear-gradient(to left, #9834bc80, #4ba5bea4);
}

article.information .technologies {
    display: flex;
    width: 300px;
    height: 50px;
    padding: 0;
    flex-wrap: wrap;
    align-items: center;
}

article.information .technologies li {
    list-style: none;
    justify-content: space-around;
    font-size: 14px;
    padding: 2px 5px;
    margin: 5px 5px;
    border-radius: 20px;
    border: 1px solid rgba( 255, 255, 255, 0.3 );
}

article.information h1 {
    font-size: 32px;
    text-transform: uppercase;
    color: #E5E5E5;
    margin: 10% auto;
    width: 100%;
}

article.information p {
    margin: 0;
    font-size: 18px;
    color: white;
    opacity: 0.8;
    font-weight: 400;
}

article.information .buttons {
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: 40px;
    width: 90%;
}

@media (max-width: 1200px) {
    .top-picks {
        width: 100vw; 
    }
}


@media (max-width: 767px) {
    .bg-ball {
        display: none;
    }

    article.project {
        flex-direction: column-reverse;
        width: 100vw;
    }

    article.project .illustration {
        width: 35vw;
        height: 35vw;
        margin: 0 auto;
    }
    
    article.information{
        padding: 0 0;
    }

    article.information h1{
        font-size: 20px;
        margin: 10px auto;
        width: 100vw;
        text-align: center;
    }

    article.information p{
        width: 90%;
        font-size: 14px;
        text-align: center;
        margin: 10px auto;
    }
    article.information .technologies{
        width: 100%;
        margin: 10px auto;
        justify-content: center;
    }
    
    article.information .technologies li{
        font-size: 12px;    
    }
    
        
    article.information {
        width: 100%;
        height: 60%;
    }
        
    article.information .buttons {
        justify-content: space-evenly;
        position: static;
        width: 90%;
        margin: 0 auto;
    }
    
    article.information .button {
        width: 40%;
        text-align: center;
    }

}

