body {
    background-color: white;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.projects {
    position: relative;
    background-color: #0E0526;
    width: 100%;
    height: 100%;
    color: #cbced4;
    margin: 0 auto;    
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

.projects h2 {
    width: 100%;
    text-align: left; 
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

.bg-ball {
    overflow: hidden;
    position: absolute;
    border-radius: 50%;
    background: #4BA5BE;
    background: -webkit-radial-gradient(top left, #4BA5BE 30%, #6B19AF, #9834BC);
    background: -moz-radial-gradient(top left, #4BA5BE 30%, #6B19AF, #9834BC);
    background: radial-gradient(to bottom right, #4BA5BE 30%, #6B19AF, #9834BC);
    filter: blur(50px);
}


.ball {
    position: absolute;
    border-radius: 50%;
    background: #4BA5BE;
    background: -webkit-radial-gradient(top left, #4BA5BE 30%, #6B19AF, #9834BC);
    background: -moz-radial-gradient(top left, #4BA5BE 30%, #6B19AF, #9834BC);
    background: radial-gradient(to bottom right, #4BA5BE 30%, #6B19AF, #9834BC);
}

#big-ball-1 {
    overflow: hidden;
    width: 500px;
    height: 500px;
    right: -150px;
    top: -250px;
}

#big-ball-2 {
    width: 500px;
    height: 500px;
    left: 0;
    top: 400px;
}


#mid-ball-1 {
    width: 200px;
    height: 200px;
    left: -250px;
    top: 0; 
}

#small-ball-1 {
    width: 40px;
    height: 40px;
    left: 150px;
    top: 250px; 
}

#small-ball-2 {
    width: 100px;
    height: 100px;
    right: 20px;
    top: 500px; 
}
   
.top-picks {
    display: flex;
    width: 1280px;
    position: relative;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

article.project {
    display: flex;
    position: relative;
    width: 700px;
    height: 400px;  
    margin: 50px auto;
    /* background-color: rgb(255, 255, 255); */
    border-radius: 15%;
    transform-style: preserve-3d;   
    overflow: hidden;

    /* glassmorphism */
    background: linear-gradient(to top left, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
    backdrop-filter: blur(5.5px );
    -webkit-backdrop-filter: blur( 5.5px );
    border-radius: 20px;
    border: 3px solid rgba( 255, 255, 255, 0.18 );

    /* box-shadow: 25px 25px 30px 31px rgba(223,144,253,0.15); */
}

article.project img {
    width: 400px;
    height: 400px;
    transform: translateZ(50px);
}

article.project button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    width: 47%;
    height: 50px;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 12.0px );
    -webkit-backdrop-filter: blur( 12.0px );
    border-radius: 20px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

article.project button#code-butt {
    background: rgb(255,86,221);
    background: linear-gradient(45deg, rgba(255,86,221,1) 0%, rgba(67,85,255,1) 100%);
}

article.project button#code-butt:hover {
    -webkit-box-shadow: 0px 5px 30px -1px rgba(244,86,222,0.58); 
    box-shadow: 0px 5px 30px -1px rgba(244,86,222,0.58);
    cursor: pointer;
}

article.project button#test-butt {
    background: rgb(243,159,99);
    background: linear-gradient(45deg, rgba(243,159,99,1) 0%, rgba(255,91,216,1) 100%);
}

article.project button#test-butt:hover {
    -webkit-box-shadow: 0px 5px 30px -1px rgba(231,141,94,0.58); 
    box-shadow: 0px 5px 30px -1px rgba(231,141,94,0.58);
    cursor: pointer;
}

article.project button .github-icon, article.project button .test-icon{
    width: 30px;
    height: 30px;
    margin-top: 5px;
}

article.information {
    position: relative;
    text-align: left;
    width: 400px;

    /* glassmorphism */
    background: linear-gradient(to left, #9834bc2f, #4ba5be6b);
    padding: 10px 20px; 
    /* border-radius: 10px; */
    /* border: 1px solid rgba( 255, 255, 255, 0.18 );*/
}

article.information:hover {
    background: linear-gradient(to left, #9834bc80, #4ba5bea4);
}

article.information .technologies {
    display: flex;
    width: 300px;
    height: 50px;
    padding: 0;
    flex-wrap: wrap;
    align-items: center;
}

article.information .technologies li {
    list-style: none;
    justify-content: space-around;
    font-size: 14px;
    padding: 2px 5px;
    margin: 5px 5px;
    border-radius: 20px;
    border: 1px solid rgba( 255, 255, 255, 0.3 );
}

article.information h1 {
    font-size: 32px;
    text-transform: uppercase;
    color: #E5E5E5;
    margin: 10% auto;
    width: 100%;
}

article.information p {
    margin: 0;
    font-size: 18px;
    color: white;
    opacity: 0.8;
    font-weight: 400;
}

article.information .buttons {
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: 40px;
    width: 90%;
}

#judge0-bot {
}


@media (max-width: 1200px) {
    .top-picks {
        width: 100vw; 
    }
}


@media (max-width: 767px) {    
    article.project {
        flex-direction: column-reverse;
        width: 100vw;
    }

    article.project .illustration {
        width: 50%;
        height: 40%;
        margin: 0 auto;
    }
    
    article.information h1{
        font-size: 22px;
        margin: 10px auto;
        width: 100vw;
        text-align: center;
    }

    article.information p{
        width: 100%;
        font-size: 16px;
        text-align: center;
        margin: 10px auto;
    }
    
    
    article.information .technologies{
        width: 100%;
        margin: 10px auto;
        justify-content: center;
    }
        
    article.information {
        width: 100%;
        height: 60%;
    }
        
    article.information .buttons {
        position: static;
        width: 70%;
        margin: 0 auto;
    }
    
    article.information button {
        width: 40%;
        text-align: center;
    }

}

