* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.about a{
    color: #F76A24;
    font-weight: bold;
    text-decoration: none;
}


.about a:hover {
    text-decoration: underline;
}

.about {
    /* background-color: #F5F7FC; */
	font-family: 'Muli', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-height: 100vh;  
	margin: 0;
    background-image: linear-gradient(180deg, white, #F5F7FC);
    overflow-x: hidden;
    width: 100%;
    z-index: -10;
}

.about .heading {
    color: #373737;
    font-size: 45px;
    text-transform: uppercase;
    margin-top: 10%;
}

.about .content{
    display: flex;
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}

.text {
    position: relative;
    width: 500px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    border-radius: 5%;
    padding: 20px 20px;
    font-family: 'Montserrat', sans-serif;
    color:rgb(90, 90, 90);
    margin-right: 100px;
}

.about-personal-photo {
    position: relative;
    border-radius: 50%;
    width: 400px;
}


.card-list {
    display: flex;
    flex-direction: column;
}

.affiliations {
    display: flex;
    width: 1200px;
    margin-top: 20%;
    justify-content: space-between;
}

.affiliations h3 {
    text-align: center;
    font-family: 'Baloo Paaji 2', cursive;
    text-transform: uppercase;
    font-size: 2rem;
    color: #373737;
}

.card {
    background-color: #ffffff;
	border-radius: 10px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2); 
    max-width: 100%;
	margin: 20px auto;
	overflow: hidden;
    width: 90%;
}

.card header {
    max-width: 100%;
    display: flex;
}


.card h6 {
	opacity: 0.6;
	margin: 0;
    letter-spacing: 1px;
    font-size: 0.7rem;
	text-transform: uppercase;
}

.card h2 {
	letter-spacing: 1px;
    margin: 10px 0;
    font-size: 1rem;
}

.card p {
    position: relative;
    font-size: 16px;
    padding: 10px 10px;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    color:rgb(66, 66, 66);
}

.preview {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    color: #fff;
    padding: 5px;
    height: 45%;
    border-radius: 10px;
    width: 60%;
    cursor: pointer;
}

/* the link for the preview */
.preview a {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 15;
}


#experience .preview {
    background-image: linear-gradient(90deg, #460D7D, #6A3DA6);
}


#organizations .preview {
    background-image: linear-gradient(90deg, #5E89AD, #2ebf91);
}

#education .preview {
    background-image: linear-gradient(90deg,  #6A3DA6, #5E89AD);
}


.preview img {
    border-radius: 50%;
    width: 60px;
    display: block;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    filter: saturate(0);
  
}
.add-color {
    -webkit-filter: grayscale(0%) !important; /* Safari 6.0 - 9.0 */
    filter: grayscale(0%) !important;
}


.course-info {
    text-align: center;
	padding: 10px;
	position: relative;
    width: 100%;
    height: 70%;
}

/* 
@media screen and (max-width: 480px) {

	.social-panel-container.visible {
		transform: translateX(0px);
	}
	
	.floating-btn {
		right: 10px;
	}
} */

.typewriter-text {
    animation-name: typewriter;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    position: relative;
    animation-duration: 10s;
    animation-timing-function: steps(9, end);
    animation-iteration-count: infinite;
  }
  
  .typewriter-text::after {
    content: "|";
    position: absolute;
    right: 0;
    animation: caret infinite;
    animation-duration: 1s;
    animation-timing-function: steps(1, end);
  }
  
  @keyframes typewriter {
    0%,
    100% {
      width: 0;
    }
    20%,
    80% {
      width: 5.5em;
    }
  }
  
  @keyframes caret {
    0%,
    100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  
  @media (min-width: 768px) and (max-width: 1024px){
        .affiliations {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
        }

        .about .content{
            flex-direction: column-reverse;
        }

      .text {
        position: relative;
        width: 80%;
        background-color: rgb(252, 252, 252);
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        border-radius: 5%;
        padding: 20px 20px;
        font-family: 'Montserrat', sans-serif;
        color:rgb(90, 90, 90);
        margin-right: 0;
    }
    
    .about-personal-photo {
        right: 0;
    }    
  }

  @media (max-width: 767px) {
    .about .content{
       flex-direction: column-reverse;
    }

    .affiliations {
        flex-direction: column;
        width: 100%;
    }

    .text {
        position: relative;
        width: 90%;
        background-color: rgb(252, 252, 252);
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        border-radius: 5%;
        padding: 20px 20px;
        font-family: 'Montserrat', sans-serif;
        color:rgb(90, 90, 90);
        margin-right: 0;
    }
    
    .about-personal-photo {
        width: 300px;
    }
    /* .about {
        margin-top: ; */
    /* } */
  }