
header {
    width: 100%;
    height: 64px;
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
}

.header-logo {
    text-decoration: none;
    font-weight: bold;
    font-weight: 700;
}

section {
    position: relative;
}

section.home-hero {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: 50%;
    justify-content: 50%;
    -ms-flex-align: center;
    align-items: center;
    height: 640px;
    background-image: linear-gradient(to top right,#450b7c,#8360c3,#2ebf91);
}

.hero-pattern-bg {
    height: 610px;
    width: 1280px;
    position: fixed;
}

.hero-pattern-bg img {
    display: block;
    width: 100%; /* or whatever width you want. */
}

.hero-text h1 {
    position: relative;
    color: white;
    font-size: 64px;
    font-weight: 700;
    padding-left: 5%;
    vertical-align: middle;
    margin-top: -200px; /* TODO temp - fix later */ 
}

.hero-pattern-mask {
    width: 1280px;
    margin-top: 516px;
    position: absolute;
}

.hero-pattern-mask img {
    display: block;
    width: 100%;
}


/* TODO fix the header */

/* unvisited link */
a:link {
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
  }
  
  /* visited link */
  a:visited {
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }