section.home-hero {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: 50%;
    justify-content: 50%;
    -ms-flex-align: center;
    align-items: center;
    height: 640px;
    background-image: linear-gradient(to top right,#450b7c,#563cc9,#49e9fb);
}