
.skills {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
	align-items: center;
    justify-content: center;
    flex-direction: column;
    /* margin-top: 300vh; */
}

.hide-content {
    visibility: hidden;
}

.skills  .heading {
    /* color: #373737; */
    font-size: 45px;
    text-transform: uppercase;
    margin-top: 10%;
    font-family: 'Baloo Paaji 2', cursive;
    background: linear-gradient(0deg, #774deb, #6f77e4);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.skills h3 {
    text-align: center;
    font-family: 'Baloo Paaji 2', cursive;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #585858;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
    z-index: 5;
}


.skills-list .item {
    /* width: 100%;
    height: 100%; */
    display: flex;
    align-items: center;
}

.skills-list .item img {
    height: 100%;
    width: 20px;
    margin-right: 5px;
    opacity: 0.8;
    object-fit: contain;
}

.skills-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-bottom: 25px;
    visibility: hidden;
}

.skills-list li a{
    font-size: 14px;
    text-align: start;
    white-space: nowrap;
    text-decoration: none;
    color:rgb(90, 90, 90);
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
    pointer-events: none;
    cursor: default;
    text-decoration: none;
}


.rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    height: 10px;
    margin-left: 20px;
    background-color: #e6e6e6;
    border-radius: 2px;
}

.rating .star {
    width: 13px; 
    height: 13px;
    background-color: #d4d3d3;
    /* border: 2px solid #d4d3d3; */
    border-radius: 50%;
    transition: all 0.3s ease-out;
}

.one #first {
    background-image: linear-gradient(0deg, #9DDD9A, #2DD6B6);
}

.two #first, .two #second {
    background-image: linear-gradient(0deg, #61ca5b, #1fcfaf);

}

.three #first, .three #second, .three #third {
    background-image: linear-gradient(0deg, #61ca5b, #1fcfaf);
}

.four #first, .four #second, .four #third, .four #forth {
    background-image: linear-gradient(0deg, #61ca5b, #1fcfaf);

}

.five #first, .five #second, .five #third, .five #forth, .five #fifth {
    background-image: linear-gradient(0deg, #61ca5b, #1fcfaf);
}

.rating:hover.one #first{
    background-image: linear-gradient(0deg, #825EE5, #8389E4);
}

.rating:hover.four #first, .rating:hover.four #second, .rating:hover.four #third, .rating:hover.four #forth{
    background-image: linear-gradient(0deg, #825EE5, #8389E4);
}


.rating:hover.three #first, .rating:hover.three #second, .rating:hover.three #third{
    background-image: linear-gradient(0deg, #825EE5, #8389E4);
}

.rating:hover.two #first, .rating:hover.two #second{
    background-image: linear-gradient(0deg, #825EE5, #8389E4);
}

.rating:hover.five #first, .rating:hover.five #second, .rating:hover.five #third, .rating:hover.five #forth, .rating:hover.five #fifth{
    background-image: linear-gradient(0deg, #825EE5, #8389E4);
}

  
@media (min-width: 768px) and (max-width: 1220px){
    .container {
        width: 750px;
        flex-wrap: wrap; 
    }
    .rating {
    width: 150px;
    height: 10px;
    }
    .skills-list li a{
        font-size: 18px;
    }
    .rating .star {
        width: 18px; 
        height: 18px;
        background-color: #d4d3d3;
        /* border: 2px solid #d4d3d3; */
        border-radius: 50%;
        transition: all 0.3s ease-out;
    }
}

@media (max-width: 767px) {
    .container {
        width: 90vw;
        flex-direction: column;
    }
}
