body{
    background-color: #F5F7FC;
}

.skills {
    width: 100%;
    height: 100%;
}

.skills h3 {
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
}


.skills-list .item {
    /* width: 100%;
    height: 100%; */
    display: flex;
    align-items: center;
}

.skills-list .item img {
    height: 100%;
    width: 20px;
    margin-right: 5px;
    opacity: 0.8;
    object-fit: contain;
}

.skills-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-bottom: 25px;
}

.skills-list li a{
    font-size: 14px;
    text-align: start;
    white-space: nowrap;
    text-decoration: none;
    color:rgb(90, 90, 90);
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
}


.rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    height: 10px;
    background-color: #e6e6e6;
    border-radius: 2px;
    padding: 0 5px;
}

.rating:hover.one #first{
    background-color: rgb(80, 220, 255);
    border-color: rgb(80, 200, 255);
}

.skills-list {
}

.rating .star {
    width: 10px; 
    height: 10px;
    background-color: #d4d3d3;
    border: 2px solid #d4d3d3;
    border-radius: 50%;
}

.one #first {
    background-color: #2ebf91;
    border-color: #2ebf91;
}

.two #first, .two #second {
    background-color: #2ebf91;
    border-color: #2ebf91;
}

.three #first, .three #second, .three #third {
    background-color: #2ebf91;
    border-color: #2ebf91;
}

.four #first, .four #second, .four #third, .four #forth {
    background-color: #2ebf91;
    border-color: #23ce98;
}

.five #first, .five #second, .five #third, .five #forth, .five #fifth {
    background-color: #2ebf91;
    border-color: #2ebf91;
}