* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    display: flex;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    background-color: black;
    font-family: 'Montserrat';
    background-image: url("assets/bg.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.scroll-tags {
    display: flex;
    overflow: hidden;
    width: 200%;
    min-width: 3000px;
    margin: 25px 0;
}

.tags {
    width: 50%;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    color: rgba(255, 255, 255, 0.7);
}

.tags-2 {
    width: 50%;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    color: rgba(255, 255, 255, 0.7);
}

main {
    margin: 70px 0 70px 0;
}

.background {
    position: absolute;
    background-color: red;
    min-height: 100%;
    top: 0;
    z-index: -1;
}
img.bg {
    /* height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
    top: 0; */
}

h1 {
    margin: 100px auto;
    font-weight: 400;
    font-size: 48px;
}

.panel {
    position: relative;
    margin: 0 auto;
    width: 90%;
    max-width: 1296px;
    padding: 50px;
    background: rgba(113, 28, 145, 0.15);
    border: 3px solid rgba(255, 255, 255, 0.28);
    border-bottom: 0px;
    backdrop-filter: blur(10px);
}

.panel nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.panel nav .logo{
    max-height: 30px;
}

.panel nav .name{
    text-transform: uppercase;
    font-size: 24px;
}

.panel .label {
    font-size: 36px;
    color: rgba(255, 255, 255, 0.7);
}   

.projects {
    margin: 0 auto;
    background: rgba(9, 24, 51, 0.77);
    backdrop-filter: blur(20px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 0px;
    width: 100%;
    height: 256px;
}

.projects .list {
    display: flex;
    list-style-type: none;
    justify-content: center;
    height: 100%;
}

.projects .list .item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 478px;
}

.projects .list .item li{
    width: 100%;
    height: 100%;
    /* padding: 50px 0 20px 0; */
    display: flex;
    border-right: 3px solid rgba(255, 255, 255, 0.28);
    position: relative;
    flex-direction: column;
    justify-content: center;
}

.projects .list .item li:hover{
    background-color: rgba(255, 255, 255, 0.030);
}

.projects .list .item:nth-of-type(1)  {
        border-left: 3px solid rgba(255, 255, 255, 0.28);
}

.projects .list .item .logo{
    margin: 0 auto;
    max-width: 254px;
}

.projects .list p{

    position: absolute;
    bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.projects .list li .logo img{
    margin: 0 auto;
    width: 100%;
}

.projects .list a{
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
}

.panel-bottom {
    position: relative;
    margin: 0 auto;
    width: 90%;
    height: 125px;
    max-width: 1296px;
    padding: 50px;
    background: rgba(113, 28, 145, 0.15);
    border: 3px solid rgba(255, 255, 255, 0.28);
    border-top: 0px;
    backdrop-filter: blur(10px);
}


.socials {
    margin-left: auto;
    width: 200px;
    display: flex;
    justify-content: space-between;
}

@media (min-width: 768px) and (max-width: 1280px){
    h1 {
        font-size: 36px;
    }
    .panel .label {
        font-size: 36px;
    }
    .panel nav .name, .panel .label{
        font-size: 20px;
    }
}
@media (max-width: 1024px){ 
    .projects {
        height: 630px;
    }
    .projects .list {
        flex-direction: column;
        height: 100%;
    }



}
@media (max-width: 767px) {
    h1 {
        font-size: 24px;
    }
    .panel nav .name, .panel .label{
        font-size: 18px;
    }
} 