* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, sans-serif;
    width: 100%;
    background-color: #F5F7FC;
}

header {
    width: 100%;
    height: 100px;
    background: rgb(129,64,235);
    background: linear-gradient(45deg, rgba(129,64,235,1) 0%, rgba(64,132,235,1) 100%);    
    color: #D9E9FF;
    font-weight: bold;
    font-size: 26px;
}

nav {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1920px;
}

nav a {
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
}

.brand {
    display: flex;
    align-items: center;
    height: 100%;
    cursor: pointer;
}

.brand img {
    margin-right: 20px;
}

nav a:hover {
    color: white;
}


main {
    position: relative;
    width: 90%;
    margin: 0 auto;
    max-width: 1920px;
}

main section {
    margin: 200px 0;
}

section h2 {
    color: #7829EE;
    font-size: 64px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

section p {
    color: #757575;
    font-size: 24px;
    background-color: white;
    padding: 24px 24px;
    width: 70%;
}

h1 {
    margin-top: 100px;
    font-size: 72px;
    font-weight: bolder;
    color: #525252;
    mix-blend-mode: multiply;

}

h1 .highlight {
    color: #D229EE;
}

.hero-animation {
    position: absolute;
    top: -100px;
    right: 0;
    width: 50%;
    z-index: -1;
}

.icon-scroll {
    margin: 150px auto;
    width: 1em;
	height: 3.125em;
	transform: translateX(-50%) scale(2);
	z-index: 99999;
}

.icon-arrows::after,
.icon-arrows::before {
  content: '';
}
.icon-arrows span,
.icon-arrows::after,
.icon-arrows::before {
	display: block;
	width: 0.315em;
	height: 0.315em;
	border-right: 1px solid rgba(82, 82, 82, 0.8);
	border-bottom: 1px solid rgba(82, 82, 82, 0.8);
	margin: 0 0 0.125em 0.315em;
	transform: rotate(45deg);
  animation: mouse-scroll 1s infinite;
	animation-direction: alternate;
}

.icon-arrows::before {
	margin-top: 0.315em;
	animation-delay: .1s;
}

.icon-scroll span {
	animation-delay: .2s;
}

.icon-arrows::after {
	animation-delay: .3s;
}

.icon-scroll .mouse {
	height: 1.375em;
	width: .875em;
	border: 1px solid rgba(82, 82, 82, 0.8);
	border-radius: 2em;
}

.icon-scroll .wheel {
  position: relative;
  display: block;
  height: 0.1875em;
  width: 0.1875em;
  margin: 0.1875em auto 0;
  background: rgba(82, 82, 82, 0.8);
  animation: mouse-wheel 1.2s ease infinite;
  border-radius: 50%;
}

@keyframes mouse-wheel {
	0% {
		opacity: 1;
		transform: translateY(0);
	}

	100% {
		opacity: 0;
		transform: translateY(.375em);
	}
}

@keyframes mouse-scroll {
	0%   { opacity: 0; }
	50%  { opacity: .5; }
	100% { opacity: 1; }
}

/* font size scales:
- 72
- 64
- 48
- 36
- 24
- 18
- 14
- 13
- 12

*/

@media (min-width: 768px) and (max-width: 1024px){ 
    h1 {
        font-size: 64px;
    }
    section h2 {
        font-size: 48px;
    }
    header {
        font-size: 18px;
    }
    section p {
        font-size: 18px;
    }

}
@media (min-width: 481px) and (max-width: 767px) {
    h1 {
        font-size: 48px;
    }
    section h2 {
        font-size: 36px;
    }
    header {
        font-size: 14px;
    }
    header img {
        width: 40px;
    }
    section p {
        font-size: 14px;
        width: 90%;
    }    
}

@media (max-width: 480px) { 
    h1 {
        font-size: 36px;
    }
    section h2 {
        font-size: 24px;
    }
    header {
        font-size: 13px;
    }
    header img {
        width: 25px;
    }
    .brand img {
        margin-right: 5pX;
    }
    section p {
        width: 90%;
    }
} 